<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712772363204-38ahgkmqoodmtgh14tgme3rdi3pm43c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712772363204-38ahgkmqoodmtgh14tgme3rdi3pm43c7</string>
	<key>API_KEY</key>
	<string>AIzaSyBuLD0P1sOU0i9UbMucXlnRrjbuhqGaspg</string>
	<key>GCM_SENDER_ID</key>
	<string>712772363204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-ae663</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-ae663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712772363204:ios:336662617d69342494fa91</string>
</dict>
</plist>